<section class="map-page">
  <h1>NYC Air Quality Map</h1>
  <p>
    A dynamic map highlighting pollution intensity across NYC's neighborhood.
  </p>
  <div id="pollution-map"></div>
</section>

<script src="/public/js/map.js"></script>
