<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">BreatheWatch</div>
            <div class="nav-links">
                <a href="/">Home</a>
                {{#if isLoggedIn}}
                    <a href="/dashboard">Dashboard</a>
                    <a href="/logout">Logout</a>
                {{else}}
                    <!-- Show login and signup links if not logged in -->
                    <a href="/login" class="button secondary">Login</a>
                    <a href="/signup" class="button primary">Sign Up</a>
                {{/if}}
            </div>
        </nav>
    </header>
    <main>
        {{{body}}}
    </main>
    <script src="/public/js/client.js"></script>
</body>
</html>    
